a:link,
a:visited {
  background-color: #ffadc0;
  color: #000000;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: table;
  margin: auto;
}

a:active,
a:hover {
  background-color: #ffd1dc;
  color: #000000;
}
