<div [innerHTML]="data.pre"></div>
<br>
<table>
  <tr>
    <th>
      Name
    </th>
    <th>
      Console
    </th>
    <th>
      %
    </th>
    <th>
      Proof
    </th>
  </tr>
  <tr *ngFor="let game of data.games">
    <td>
      <zek-game-name [name]="game.name" [url]="game.url"></zek-game-name>
    </td>
    <td>
      {{game.console}}
    </td>
    <td>
      <zek-game-completion [quantity]="game.completion.qt" [completionRules]="game.completion.specs"></zek-game-completion>
    </td>
    <td>
      <zek-proof-component [type]="game.proof.type" [proof]="game.proof.proof" [game]="game.name"></zek-proof-component>
    </td>
  </tr>
</table>
<br>
<div [innerHTML]="data.post"></div>
