/* You can add global styles to this file, and also import other style files */
body {
  background: linear-gradient(rgba(255, 209, 220, 0.7), rgba(255, 209, 220, 0.7)) repeat, url("/assets/paperBG.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: repeat;
  font-family: 'Fira Sans', sans-serif;
}

table,
td,
th {
  border: 1px solid black;
  width: 100%;
  table-layout: fixed;
  text-align: left;
}

td,
th {
  width:1px;
  white-space:nowrap;
}
